// sử dụng mixin không sử dụng if với position
@mixin position($t, $r, $b, $l) {
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

// sử dụng mixin có sử dụng if với position
@mixin position($pos) {
    @if $pos == top-left {
        top: 0;
        left: 0;
    }
    @if $pos == top-right {
        top: 0;
        right: 0;
    }
    @if $pos == bottom-left {
        bottom: 0;
        left: 0;
    }
    @if $pos == bottom-right {
        bottom: 0;
        right: 0;
    }
    @if $pos == center {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

// sử dụng mixin với cách tạo grid
@mixin grid($column, $spacing) {
    --column: #{$column};
    --spacing: #{$spacing};

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
    > * {
        width: calc(100% / var(--column) - var(--spacing));
        margin-left: var(--spacing);
    }
}

// mixin với queries media
@mixin screen($device) {
    @if $device == tablet {
        @media (max-width: 991.98px) { 
            --column: 2;
            --spacing: 20px;
        }
    }
    @if $device == mobile {
        @media (max-width: 575.98px) {
            --column: 1;
            --spacing: 10px;
        }
    }
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}